*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 16fr 1fr;
}

header{
    padding: 30px;
    background: no-repeat center/100% url(./assets/tela.jpg);
    color:black;
    font-family: 'Courier New', Courier, monospace;
    font-size:larger;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-between;
}

button{
    background-color: rgb(153, 149, 149);
}

button:active{
    background-color: rgb(120, 116, 116);
    color: white;
}

main{
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.896);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 


.series ul{
    list-style: none;
}


.series {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; 
    justify-content: center;
    
}

.series div {
    width: 25vw;
    padding: 10px;
    background-color: rgb(41, 38, 38);
    background-size: contain;
    border: 1px solid black;
    flex: 1 1 200px;
    
}

.series img {
    width: 100%;
    height: 60%;
    object-fit: contain;
    border-radius: 10px;
}


footer {
    padding: 4px;
    justify-items: auto;
    background-color: rgb(41, 38, 38);
    color:rgb(116, 123, 132)
}





